@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione isso ao seu arquivo CSS global ou dentro de um <style> em um componente */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Para Firefox */
}
